# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Info\I ev\II felev\Adat Alg\Labor\DSA_lab_Antal_Jozsef\Labor8\Tomb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
